/* Global reset and basic styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/pattern.gif);
    background-size: 70%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    background-color: gainsboro;
    width: 100%; /* Adjust maximum width */
    max-width: 900px; 
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
    box-sizing: border-box; 
}

.logo {
    width: 100px; /* Adjust logo size */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
}

h1, h4 {
    font-family: 'Playwrite CU', cursive;
    color: aqua;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

form {
    margin-bottom: 20px; /* Add spacing below the form */
}

#question {
    font-size: 18px; /* Adjust font size */
}

#answear {
    width: calc(100% - 20px); 
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#btnAnswear, #regenerate-btn {
    border-radius: 10px;
    padding: 10px 20px;
    border-color: transparent;
    background-color: #7686f4;
    color: white;
    cursor: pointer;
}

#btnAnswear:hover, #regenerate-btn:hover {
    background-color: white;
    color: #7686f4;
}

#list {
    padding-left: 0;
}

#list li {
    margin: 10px auto;
    padding-bottom: 10px;
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #7686f4; /* Add bottom border between list items */
}

#feedback {
    font-size: 16px; /* Adjust font size for feedback */
    margin-bottom: 10px; /* Add spacing below feedback */
}

.correct-feedback {
    color: green;
}

.incorrect-feedback {
    color: red;
}
