/* Global reset and basic styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Playwrite CU', cursive;
    background-image: url(../images/pattern.gif);
    background-size: 70%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    background-color: gainsboro;
    max-width: 90%; /* Adjust maximum width */
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
}

.logo {
    width: 100px; /* Adjust logo size */
}

h1, h4 {
    color: aqua;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

#question {
    font-size: 20px; /* Adjust font size */
}

#answear {
    width: 100%; /* Take full width of the container */
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

#btnAnswear, #regenerate-btn {
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px;
    border-color: transparent;
    background-color: #7686f4;
    color: white;
    cursor: pointer;
    display: block; /* Ensure buttons are block elements */
    width: 100%; /* Take full width of the container */
    max-width: 100%;
}

#btnAnswear:hover, #regenerate-btn:hover {
    background-color: white;
    color: #7686f4;
}

#list {
    padding-left: 0;
}

#list li {
    margin: 10px auto;
    padding-bottom: 10px;
    list-style-type: none;
    text-align: center;
}

#list li:not(:last-child) {
    border-bottom: 1px solid #7686f4;
}

.correct-feedback {
    color: green;
}

.incorrect-feedback {
    color: red;
}
